
/* Font families */
$font-family-primary-bold: "Poppins-bold";
$font-family-primary-extra-light: "Poppins-extra-light";
$font-family-primary-light: "Poppins-light";
$font-family-primary-medium: "Poppins-medium";
$font-family-primary-regular: "Poppins-regular";
$font-family-primary-semibold: "Poppins-semibold";

/* Font weights */
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;